.cabecalho-fixo-loja {
    position: fixed;
    width: 100%;
    color: #fff;
    height: 64px;
    z-index: 100;
    top: 0;
    left: 0;
}

.container-cabecalho-padrao {
    width: 100%;
    background-color: #d36868;
    color: #fff;
    margin-bottom: 2em;
}

.nav-cabecalho-loja {
    background: linear-gradient(to right, #2c3e50, #34495e);
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
    position: sticky;
    top: 0;
    z-index: 100;
}

/* Celulares médios e maiores */
@media (max-width: 767px) {
    .nav-cabecalho-loja {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}