.cabecalho-fixo-loja {
    position: fixed;
    width: 100%;
    background-color: #d36868;
    color: #fff;
    height: 10%;
    z-index: 100px;
}

.nav-cabecalho-loja {
    display: flex;
    list-style: none;
    padding: 0.75em;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    gap: 1em;
}

main {
    height: 80%;
    padding-top: 7%;
    text-align: center;
}

main h1 {
    font-size: 3em;
    margin: 0.7em;
}

#secao-grid-loja {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: center;
    gap: 0.5em;
}

.item-loja {
    display: flex;
    flex-direction: column;
    padding: 1em;
    gap: 8px;
    border: 1px solid black;
    border-radius: 8px;
}