body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.cap-tabela {
    font-size: 20px;
    font-weight: bold;
    padding: 15px;
}

.container-tabela {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.tabela-padrao {
    margin: 20px;
    border: 2px solid black;
    border-radius: 10px;
}

.cabecalho-tabela {
    border: 1px solid black;
    padding: 15px;
    font-size: 1.17em;
}

td {
    border: 1px solid #3b3838;
    color: #746a6a;
    padding: 5px;
}

.link-de-pagina {
    text-decoration: none;
    color: #000;
    margin: 10px;
    transition: 1s;
}

.link-de-pagina:hover {
    color: #13099e;
    text-decoration: underline;
    font-size: 1.15em;
}